html {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  width: auto;
  align-items: center;
  margin: 10px;
  gap: 10px;
  height: 50px;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 255, 255);
}

.barra-de-navegação > a {
  font-size: 17pt;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}

.barra-de-navegação a.active {
  color: rgb(210, 117, 4);
  font-weight: bold;
}

footer {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 117, 4);
}

.root > footer {
  align-items: end;
}
